html{
    font-size: 100%;
    height: 100%;
    overflow-y: hidden;
}

.main {
    width: 100vw;
    height: 100vh;
    background: url(./assets/img/bg.jpg) no-repeat center / cover;
    max-height: 100%;
    padding: 1rem;
    position: relative;
}


/* .main::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(20, 1, 1, 0.45);

} */


.img-box{
    width: 250px;
    height: 250px;

}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sun{
    position: absolute;
    top:50%;
    left:50%
}
