html{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

.main{
    padding: 1rem;
    height: 100vh;
    width: 100%;
    background-color: #1c1206;

}

.slide{
    display: flex;
    padding: .5rem;
    width: 100%;
    height: 100%;
}

.content{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slide-1 .content .text-box{
    flex-basis: 50%;
    padding: .4rem;
    
}


.slide-1 .content .img-box{
    flex-basis: 50%;
    width:33rem;
    height: 21.875rem;
    margin: auto;
    animation: imgbox-animation 1.5s forwards .2s   ;

}

.slide-1 .content .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-1 .content .text-box h4{ 
    font-size: 1.43rem;
    color: #eec726;
    text-shadow: 2px 1px 6px #FFD93D;
    padding: .5rem;
    animation: textbox-animation 2.5s forwards .3s ;

}

.slide-1 .content .text-box p{
        color: #ebdbbe;
    padding: .8rem;
    font-size: .8rem;
    animation: textbox-animation 2.5s forwards .3s ;

}

.overlay{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    background-color: #d17404;
    width: 100%;
    height: 100%;
    animation: overlay .7s forwards .2s ;
}

/* keyfreames */


@keyframes overlay{
    0%{
        transform: translateX(0);
    }
   
    100%{
        transform: translateX(-100%);
        display: none;
    }

}


@keyframes imgbox-animation{
    0%{
        transform: scale(.3) translateX(100%);
    }
    50%{
        transform: scale(.5);
    }
   
    100%{
        transform: scale(1) translateX(0);
    }
}


@keyframes textbox-animation{
    0%{
        transform: translateY(15rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}




/* media queries */

@media (max-width:1200px){
    .content{
        display: flex;
        flex-direction: column-reverse;
    }

    .slide-1 .content .img-box{
        width: 100%;
    }
    .slide-1 .content .text-box h4{
        font-size: 1.3rem;
    }

}

@media (max-width:650px){
    .slide-1 .content .text-box h4{
        font-size: .9rem;
    }
    html{
        overflow-y: auto;
        overflow-x: auto;
    }
}
