@font-face {
    font-family: 'lora';
    src: url('/assets/fonts/Lora-Variable.ttf');
}
html{
    font-size: 100%;
    background-color: #f6f0e4;
    font-family: 'lora' ,sans-serif !important;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

/* *****************NAVBAR ******************/


.navbar{
    position: fixed;
    width: 100%;
    background-color: #f1eadc;
    color:#b63820;
    height:5.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;

}

.navbar .bold-name{
    font-size: 2rem;
    font-weight: 600;
}

.navbar .right-side{
    display: flex;
    gap:5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar .right-side .menu{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.navbar .right-side .menu a{
    font-family:sans-serif;
    color:#b63820;
    text-decoration: none;
    font-size: .85rem;
    outline-offset: none;
}


.navbar .right-side .socials{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    
}


.section{
    padding: .5rem;
}


/* *****************SECTION-1 ******************/
.section-1{
    display: flex;
    gap: .5rem;
    flex-direction: row-reverse;

}

.section-1 .img-box-1{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.section-1 .img-box-1 img{
    width: 38rem;
    height: 38rem;
    object-fit: cover;
    border: 5px solid #f6f0e4 !important;
}

.section-1 .text-box-1{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 10rem;
    color: #b63820;
    box-shadow: 0 0 0 rgba(195, 92, 72, 0.15);
}

.section-1 .text-box-1 .vector{
    width: 2.5rem;
    margin-bottom: 1rem;
}

.section-1 .text-box-1 .lg-text{
    margin: auto;
    font-size: 3rem;
    line-height: .9rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.section-1 .text-box-1 .sm-text{
    margin: 1rem auto;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(195, 92, 72, 0.15);
    font-family: sans-serif;
    font-size: .83rem;
}

.text-box-1 .subtext{
    margin: auto;
    width: 26rem;
    text-align: center;
    font-family: sans-serif;
}

.text-box-1 .subs-txt .arrow-vec{
    width: 3rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: all .3s ease-in;
}

.arrow-vec:hover{
    transform: scale(1.2);
}


/* *****************SECTION-2 ******************/

.section-2{
    display: flex;
    gap: .5rem;
    justify-content: center;
    width: 100%;
}

.section-2 .photos{
    flex-basis: 80%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.section-2 .photos .p{
    width:18rem ;
    height:17rem;
    background-color: #b63820;
    color: white;
    font-family: sans-serif;
    text-align: center;

}

.section-2 .photos .p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-2 .photos .p .lg-text-3{
    padding: 4rem .3rem 2rem .3rem;
    font-size: 1.5rem;    
}

.section-2 .photos .p .sm-text-3{
    font-size: .9rem;
    padding: 0rem 1rem;
}


.section-2 .text-box-2{
    flex-basis: 27%;
    color: #b63820;
    text-align: left;
    padding: 1rem;
    padding-left: 2rem;
}

.section-2 .text-box-2 .lg-text-2{
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem 0;
}

.section-2 .text-box-2 .sm-text-2{
    font-family: sans-serif;
    padding-top: .5rem;
    font-size: .9rem;
    line-height: 1.6rem;

}

.sm-22{
    padding-top: 1.2rem;
}


/* *****************SECTION-3 ******************/

.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .5rem .5rem 5rem .5rem;    
    color: #b63820;
}

.section-3 .invitation{
    margin: 4rem 2rem 0rem 2rem;
    width: 4rem;
    height:4rem;
    background-color: #f1eadc;
    border-radius: 50%;
}

.section-3 .invitation img{
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
    margin: auto;
    margin-top: .5rem;
}

.section-3 .lg-text-4{
    font-family: 'lora';
    font-size: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
    padding: 2rem;
    text-transform: uppercase;
    
}

.section-3 .socilas-2{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    
}

.section-3 .socilas-2 svg{
    color:#c35c48cf;
    cursor:pointer;
    transition: all ease-in .3s;
}

.section-3 .socilas-2 svg:hover{
    transform: scale(1.3);
}


/* *****************FOOTER ******************/

.footer{
    width: 100%;
    height:10rem;
    background-color: #f1eadc;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    color:#b63820;
    
}

.footer .right-text-box-1 .md-text{
    font-family: 'Lora';
    font-size: 2rem;
    padding: .5rem 0rem;
}

.footer .right-text-box-1 .sm-text-box-4{
    color: #c35c48;
    font-size: .9rem;
    font-family: sans-serif;
}


.footer .left-text-box-1 .address{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: .5rem;
    padding: .5rem;
    font-family: sans-serif;
    
}

.footer .left-text-box-1 .address svg:hover{
    animation:footer-svg-move 1s ease-in infinite ;
}

/* *****************FOOTER-LINE ******************/

.footer-bottom-line{
    width: 100%;
    height: 3rem;
    background-color: #f1eadc;
    margin-top: -1rem;
}

.footer-bottom-line .line-1{
    margin: 0 auto;
    width: 85%;
    height: 1px;
    background: #cc78658b;

}

.footer-bottom-line .made-by{
    text-align: center;
    padding: 1rem;
    font-size: .7rem;
    font-family: sans-serif;
    color: #b63820;
}


/* *****************KEYFRAMES ******************/

@keyframes footer-svg-move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: scale(1.1) translateY(.3rem);
        
    }
    100%{
        transform: scale(1) translateY(0rem);
    }
}