html{
    font-size: 100%;
    background-color: #f6f0e4;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

/* *****************NAVBAR ******************/


.navbar{
    position: fixed;
    width: 100%;
    background-color: #f1eadc;
    color:#b63820;
    height:5.5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;

}

.navbar .bold-name{
    font-size: 2rem;
    font-weight: 600;
}

.navbar .right-side{
    display: flex;
    gap:5rem;
    justify-content: space-around;
    align-items: center;
}

.navbar .right-side .menu{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.navbar .right-side .menu a{
    font-family:sans-serif;
    color:#b63820;
    text-decoration: none;
    font-size: .85rem;
}


.navbar .right-side .socials{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    
}


.section{
    padding: .5rem;
}


/* *****************SECTION-1 ******************/
.section-1{
    display: flex;
    gap: .5rem;
    flex-direction: row-reverse;

}

.section-1 .img-box-1{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.section-1 .img-box-1 img{
    width: 38rem;
    height: 38rem;
    object-fit: cover;
    border: 5px solid #f6f0e4 !important;
}

.section-1 .text-box-1{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 10rem;
    color: #b63820;
    box-shadow: 0 0 0 rgba(195, 92, 72, 0.15);
}

.section-1 .text-box-1 .vector{
    width: 2.5rem;
    margin-bottom: 1rem;
}

.section-1 .text-box-1 .lg-text{
    margin: auto;
    font-size: 3rem;
    line-height: .9rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.section-1 .text-box-1 .sm-text{
    margin: 1rem auto;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgba(195, 92, 72, 0.15);
    font-family: sans-serif;
    font-size: .83rem;
}

.text-box-1 .subtext{
    margin: auto;
    width: 26rem;
    text-align: center;
    font-family: sans-serif;
}

.text-box-1 .subs-txt .arrow-vec{
    width: 3rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: all .3s ease-in;
}

.arrow-vec:hover{
    transform: scale(1.2);
}


/* *****************SECTION-2 ******************/

.section-2{
    display: flex;
    gap: .5rem;
    justify-content: center;
    width: 100%;
}

.section-2 .photos{
    flex-basis: 75%;
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.section-2 .photos .p{
    width:16rem ;
    height: 16rem;
    background-color: #b63820;
    color: white;
    font-family: sans-serif;
    text-align: center;

}

.section-2 .photos .p img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-2 .photos .p .lg-text-3{
    padding: 4rem .3rem 2rem .3rem;
    font-size: 1.5rem;    
}

.section-2 .photos .p .sm-text-3{
    font-size: .9rem;
    padding: 0rem 1rem;
}


.section-2 .text-box-2{
    flex-basis: 25%;
}


