html{
    font-family:sans-serif;
}

.main{
    background-color: #f2f3f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title-1 , .title-2{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 1.2rem;
    flex-basis: 10%;
}

.container-1{
   padding: 1rem;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.container-1 .row{
    display: flex;
    gap:.7rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-1 .row .col{
    width: 22rem;
    height: 24rem;
    padding: 5px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1);
}
.container-1 .row .col:hover{
    transform: scale(1.01);
    transition-duration: 0.5s;
}

.container-1 .row .col img{
    width: 100%;
    padding: .2rem;
    border-radius: 1rem;


}

.container-1 .row .col .caption h4{
    font-size: large;
    font-weight: bold;
    color: rgba(16, 15, 16, 0.922);
    padding-left: 0.3rem;
    margin-top: 7px;
    
}

.container-1 .row .col .caption p{
    font-size: .72rem;
    padding-left: 5px;
}