@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
    
html{
    font-family: 'Poppins', sans-serif;
    background-color: #B0BA99;
}

.main{
    display:grid;
    grid-template-rows: repeat(7, 1fr); 
    grid-template-columns: repeat(12, 1fr);;
    gap: 10px;
    height: 100vh;
   
}

.navbar{
   padding-top:2rem;
   grid-row: 1/7;
   grid-column:6/11;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   justify-items: center;
}

.navbar a{
    text-decoration: none;
    font-weight: 400;
    color: #023603;
    font-size: 1.6rem;
    
}
.img-box{
    grid-row: 1/8;
    grid-column:1/4;
    width: 27rem;
}

.img-box img{
    margin: 3rem;
    width: 100%;
    object-fit: cover;
    min-height: 33rem;
    max-height: 35rem;
}

.text-box-1{
    grid-row: 4/6;
    grid-column:7/13;
}

.text-box-2 {
    grid-row: 6/8;
    grid-column:2/7;
    display:flex;
    gap:12px;
}

.text-box-3{
    grid-row: 7 / 8;
    grid-column: 2 / 7;
    
}

.auther{
    color: #306D29;
    border-bottom: 2px solid #0D530E;
}

.description{
    font-family:none;
    display:flex;
    color:#073b08;
    margin-top: -20px !important;
    padding-right: 2rem;
}

.description .Big-letter{
    font-size: 4rem;
}

.description p{
    margin-top: 3.01rem;
    font-size: 1.2rem;
}

.text-box-2 , .text-box-3{
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.809);
    font-weight: bold;
}

.text-box-2 p{
    font-style: italic;
    font-family: none;
    font-size: 1.7rem;
    padding-top: 1.2rem;
}